/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* COMMON */
img{
    max-width: 100%;
}

/* UTILITIES */
.nav-head{
    position: absolute;
    width: 20%;    
    top:20%;
}

/* HEADER */
header{
    position: relative;
    background-color: rgb(239, 125, 31);
    width:100%;
    /* debug */
    height: 60px;
}

.left{
    /* position: absolute; */
    left:10%;

        /* debug */
        background-color:blue;
        height: 30px;
}

.logo{
    /* position: absolute; */
    left: 40%;

    /* debug */
        background-color: aquamarine;
        height: 30px;
}

.right{
    /* position: absolute; */
    right:10%;

        /* debug */
        background-color:blue;
        height: 30px;
}